extends layout

block content
		a(href="/documents/japon.pptx", target="_blank") link
		br
		iframe(src="http://docs.google.com/viewer?url=http:/localhost:3000/files/pdf&embedded=true", width="600", height="780", style="border: none;")
		iframe(src="http://docs.google.com/viewer?url=http://openpsych.net/forum/attachment.php?aid=233&embedded=true", width="600", height="780", style="border: none;")

		//iframe(src="http://docs.google.com/viewer?url=http://help.arcgis.com/es/arcgisdesktop/10.0/pdf/tutorial_arcscan.pdf&embedded=true", width="1200", height="780", style="border: none;")