<!doctype html>
<html lang="es-PE">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos/bootstrap/css/bootstrap.min.css"/>
<!--
	<link rel="stylesheet" href="estilos/font-awesome/css/font-awesome.min.css"/>
	Problemas al importar los archivos de fuentes de iconos.
-->

	<script src="scripts/script.js"></script>
</head>
	<body>
		<section class="container-fluid web">

			<article class="row-fluid">
				<div class="span2">
					<i class="icon-camera"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptate neque quo inventore sint cumque tenetur culpa rerum nihil sit quod quam eligendi impedit aliquam error quas maiores libero ut.
				</div>
				<div class="span10">
					<i class="icon-flag"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit optio quos ex sequi quis mollitia ad vel aperiam expedita recusandae voluptates inventore repellat temporibus asperiores obcaecati nobis esse odit tempora sint vitae est maxime eos hic impedit voluptate error voluptatibus quisquam excepturi assumenda soluta quae voluptatum quidem illum perferendis libero.
				</div>
			</article>
		</section>
		<script src="estilos/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>