doctype
html(lang="es-PE",ng-app="myBoard")
	head
		link(rel="stylesheet",href="/styles/css/styles.css")
		script(src="")
	body
		#web(ng-controller="ctrlBoard")
			.container-sup
				.wrap
					canvas#board(width="900",height="500")
						|Your browser not support this feature
					.text
				.controllers
					button.btn-danger(class="borrar")
						|BORRAR
					button.btn-danger(class="borrador")
						|BORRADOR
					button.btn-danger(class="plumon")
						|PLUMON
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/angular/angular.min.js")
		script(src="/bower_components/firebase/firebase.js")
		script(src="/bower_components/angularfire/angularfire.min.js")
		script(src="/js/app.js")
