doctype
html(lang="es-PE",ng-app="boardApp")
	head
		link(rel="stylesheet",href="/styles/css/styles.css")
		script(src="")
	body
		#web
			.container
				.wrap

					canvas#board(width="900",height="500")
						|Your browser not support this feature
					.text
						|Hello world
				.controllers
					//botones controles
		script(src="")
