extends layout


block links
	link(rel="stylesheet",href="/stylesheets/#{app}.css")
block content
	#web
		.content(ng-controller="ctrlData")
			drv-card(data-name="Ruby",data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/ruby.png",data-url="http://example.com/1")