extends layout

block links
	link(rel="stylesheet",href="/stylesheets/#{app}.css")
block content
	h2 #{title}
	.row
		legend.col-sm-6(ng-controller="ctrlForm")
			form.form(id="form",name="form", method="post", action="/login",ng-submit="validate()",novalidate)
				.form-group
					.input-group
						span.input-group-addon|DNI
						dni(data-ngg='{"ng-class":"{warning:form.dni.$invalid}","ng-model":"dni"}',data-id="dni",data-maxlength="8",type="text",data-placeholder="tu dni",data-required)
				.form-group
					.input-group
						span.input-group-addon|PWD
						input.form-control.pwd(ng-model="pwd",name="pwd",ng-class="{warning:form.pwd.$invalid}",type="password",maxlength="10",ng-minlength="8",ng-maxlength="10",placeholder="tu password",required)
				.form-group
					input.form-control.btn-primary(type="submit",value="ENTER",ng-disabled="form.$invalid")
	.row(ng-view="form")
