doctype html
html(ng-app="myapp")
	head
		title #{title}
		link(rel="stylesheet",href="/bower_components/flatstrap/dist/css/flatstrap.min.css")
		link(rel="stylesheet",href="/bower_components/flatstrap/dist/css/flatstrap-theme.min.css")
		block links
		block style
	body
		block content
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/flatstrap/dist/js/flatstrap.min.js")
		script(src="/bower_components/angular/angular.min.js")
		block import
		script(src="/javascripts/development/#{app}.js")