extends layout

block links
	link(rel="stylesheet",href="/stylesheets/#{app}.css")
	link(rel="stylesheet",href="/bower_components/angular-material/angular-material.min.css")
block content
	#web
		.content
			md-select(ng-model="someModel")
				md-select-label|elija
				md-option(ng-value="opt1")|hola
				md-option(ng-value="opt2")|hola1
				md-option(ng-value="opt3")|hola2
				md-option(ng-value="opt4")|hola3
			md-progress-circular(md-mode="indeterminate")
			md-slider.md-primary(flex="10",md-discrete,ng-model="rating3",step="1",min="1",max="5",aria-label="rating")
			md-button.md-primary()|BUTTON
			md-input-container
				label|nombre
				input(ng-model="name")
		div(layout="row",ng-controller="ctrlData")
			md-sidenav.md-sidenav-left(md-component-id="left")
				|left nav
			md-content
				|center content
				md-cutton(ng-click="openLeft()")
				|open left menu
			md-sidenav.md-sidenav-right(md-component-id="right",md-is-locked-open="$mdMedia('min-width: 333px')")
				|right nav
block import
	script(src="/bower_components/angular-aria/angular-aria.min.js")
	script(src="/bower_components/angular-animate/angular-animate.min.js")
	script(src="/bower_components/angular-material/angular-material.js")
