extends layout

block links
	//link(rel="stylesheet",href="/stylesheets/#{app}.css")
	link(rel="stylesheet",href="/bower_components/angular-material/angular-material.min.css")
block content
	#web
		.content
			md-select(ng-model="someModel")
				md-select-label|elija
				md-option|hola
				md-option|hola1
				md-option|hola2
				md-option|hola3
block import
	script(src="/bower_components/angular-aria/angular-aria.min.js")
	script(src="/bower_components/angular-animate/angular-animate.min.js")
	script(src="/bower_components/angular-material/angular-material.js")
