extends layout

block links
	link(rel="stylesheet",href="/stylesheets/#{app}.css")
block content
	h1= title
	#web
		p(ng-class="{strike:deleted,bold:important,red:error}")|Map syntax Example
		input(type="checkbox",ng-model="deleted")
		!=' deleted </br>'
		input(type="checkbox",ng-model="important")
		| &nbsp; important </br>
		input(type="checkbox",ng-model="error")
		| &nbsp; error </br>
		hr
		p(ng-class="style")|Using string syntax
		input(type="text",ng-model="style",placeholder="Type: bold strike red")
		hr
		p(ng-class="[style1,style2,style3]")|Using array syntax
		input(ng-model="style1",placeholder="Type:bold,strike or red")
		input(ng-model="style2",placeholder="Type:bold,strike or red")
		input(ng-model="style3",placeholder="Type:bold,strike or red")
block import
	script(src="/bower_components/angular-animate/angular-animate.min.js")