extends layout

block links
	link(rel="stylesheet",href="/stylesheets/#{app}.css")
block content
	h1= title
	#web
		#content.col-md-5(ng-controller="ctrl1")
			button.btn.btn-small.btn-primary(type="button",ng-click="addItems()")|ADD
			button.btn.btn-small.btn-warning(ng-click="clearItems()")|CLEAR
			hr
			button.btn.btn-small.btn-danger(ng-repeat="item in items",ng-click="removeItems($index)")
				|{{item.title}}
			include partials/hola
block import
	script(src="/bower_components/angular-animate/angular-animate.min.js")