extends layout

block links
	link(rel="stylesheet",href="/stylesheets/#{app}.css")
block content
	h1= title
	#web(ng-init="names=['Igor Minar', 'Brad Green', 'Dave Geddes', 'Naomi Black', 'Greg Weber', 'Dean Sofer', 'Wes Alvaro', 'John Scott', 'Daniel Nadasi']")
		.well(style="margin-top: 30px; width: 200px; overflow: hidden;")
			form.form-search
				.input-append
					input.search-query(type="text",ng-model="search",style="width: 80px;")
					button.btn(type="submit")|Search
				ul.nav.nav-pills.nav-stacked
					li(ng-animate="'animate'",ng-repeat="name in names|filter:search")
						a(href="#")|{{name}}
block import
	script(src="/bower_components/angular-animate/angular-animate.min.js")