extends layout
block links
	link(rel='stylesheet', href='/stylesheets/style.css')
block content
	#web
		#content(ng-controller="ctrlOne")
			select(ng-model="countSelection",ng-options="n for n in [1,5,10,15,20]")
			ul
				li(ng-repeat="(key, person) in people")
					|{{person.fname}}
block import
	script(src="/bower_components/angular-resource/angular-resource.min.js")