doctype html
html(ng-app="myapp")
	head
		title= title
		//link(rel='stylesheet', href='/bower_components/flatstap3/dist/css/bootstrap.min.css')
		//link(rel='stylesheet', href='/bower_components/flatstap3/dist/css/bootstrap-theme.min.css')
	body(ng-controller="ctrl1")
		block content
		script(src="/bower_components/angular/angular.min.js")
		script(src="/bower_components/angular-resource/angular-resource.min.js")
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/javascripts/app.js")