<!doctype html>
<html lang="es-PE">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href=""/>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
	<script type='text/javascript' src="/js/autoReload.js"></script>
	<style>
		*{
			padding: 0;
			margin: 0;
			border: 0;
		}
		body{
			background: #4BCB21;
			color:#685E4A;
			font-size: 16px;
		}
	</style>
</head>
<body>
	<div id="web">
		<span>Hola que hace? Estas en home.html</span>
	</div>
</body>
</html>

