.color1{color:#00f;background:#ded}.color2{color:orange}.color3{color:red}.color4{color:gray}.color5{color:peru}
#color4{}
#color4{}
#color4{}
#color6{}
#color7{}
#color8{}
#color9{}
span{
	background: yellow;
}
*{
	border:0;
}