extends layout

block content
  h1= title
  p Welcome to #{title}
  button(onclick="TogetherJS(this);return false;")|Start TogetherJS
  input(type="text")
  br
  canvas#whiteboard.whiteboard(width="800",height="600")