doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src="https://togetherjs.com/togetherjs-min.js")
    script(src="/javascripts/setupTogether.js")
    script(src="/javascripts/together.js")
    script(src="/javascripts/fabric.js")
  body
    block content
    //script(src="/javascripts/pizarra.js")
    script(src="/javascripts/script_elements.js")