extends layout-master
block head
	meta(name="viewport",content="width=devide-width")
	title|Chat NodeJS by @gagdgonda
	link(rel="stylesheet",href="css/styles.css")
block body
block import-js
	script(src="js/jquery-2.0.3.min.js")
	script(src="bootstrap/js/bootstrap.min.js")
	script(src="js/angular.min.js")
	script(src="js/script.js")