.strike{
	text-decoration: line-through;
	font-size: 1.5em;
}
.red{
	color: red;
}
.bold{
	font-weight: bold;
}
p{
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
	    -ms-transition: all 1s ease-out;
	     -o-transition: all 1s ease-out;
	        transition: all 1s ease-out;
}