.toggle{
	-webkit-transition: all 1s ease-in;
	   -moz-transition: all 1s ease-in;
	    -ms-transition: all 1s ease-in;
	     -o-transition: all 1s ease-in;
	        transition: all 1s ease-in;
}
.toggle.ng-enter{
	opacity: 0;
}
.toggle.ng-enter-active{
	opacity: 1;
}
.toggle.ng-leave{
	opacity: 1;
}
.toggle.ng-leave-active{
	opacity: 0;
}

.toggle_{
	-webkit-transition: all 1s ease-in;
	   -moz-transition: all 1s ease-in;
	    -ms-transition: all 1s ease-in;
	     -o-transition: all 1s ease-in;
	        transition: all 1s ease-in;
}
.toggle_.ng-enter{
	opacity: 0;
}
.toggle_.ng-enter-active{
	opacity: 1;
}
.toggle_.ng-leave{
	opacity: 1;
}
.toggle_.ng-leave-active{
	opacity: 0;
}