.card
	|<style media='screen' type='text/css'>
	|	h4 {
	|		color:peru
	|	}
	|</style>
	h3|{{contact.name}}
	h4|{{contact.lastname}}
	address|Email contact
		a(href="emailto:{{contact.email}}")|send mail
