polymer-element(name="hello-world",noscript)
	template
		|<style>
		| :host{width: 200px;height:200px;}
		| div {width:200px;height:200px;}
		|	h1{
		|		color:red;
		|	}
		|</style>
		div
			h1|Hello world
hello-world